@import 'sass/_colors';

html,
body {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  background: url('/static/images/scroll.jpg') no-repeat center center fixed;
  background-size: 100% 100%;
}
fieldset {
  padding: 0;
  border: 0;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
.error {
  border: 1px solid $error !important;

  &:focus {
    outline: none;
  }
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

@media only screen and (max-width: 767.98px) {
  textarea,
  input.text,
  input[type='text'],
  input[type='button'],
  input[type='submit'],
  .input-checkbox {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;

    &:hover {
      outline: lighten($darkleather, 25%);
    }
  }
}
