.section__civ-list > div {
  display: flex;
  flex-flow: row wrap;
  margin: 10px 0;
}

button {
  outline: none;
  color: #e1d7b3;
  background: transparent;
  border: 2px solid #e1d7b3;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  text-transform: uppercase;
  transition-duration: 0.2s;
  background-color: #5c3700;
  background-image: url('/static/images/dark-leather-texture.png');
}

button:hover {
  background-color: #e1d7b3;
  color: white;
}

.button__randomizer {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  button {
    padding: 16px 24px;
  }
}

.header {
  display: flex;
  .button__select-options {
    margin-right: 25px;
    margin-left: auto;
  }
  .button__sort-options {
    margin-left: 25px;
    .sort button {
      margin: 0;
      padding: 5px 10px;
    }
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline;
}
.dropdown li {
  position: relative;
  float: left;
}
.dropdown li > ul {
  position: absolute;
  left: -999em;
  width: 100%;
  top: 0;
  transition: top 0.5s ease;
}
.dropdown ul ul {
  transition: transform 0.5s ease, opacity 0.3s ease;
  transform: translateX(0);
  opacity: 0;
}
.dropdown a {
  display: block;
  background: #f3f3f3;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  white-space: nowrap;
  color: #666666;
  border: 1px solid #fff;
  line-height: 1.2em;
  min-width: fit-content;
}
.dropdown a:hover {
  background: #ccc;
}
.dropdown li:hover > ul {
  left: 100%;
  // top: 100%;
}
.dropdown li li:hover > ul {
  left: 0;
  transform: translateX(100%);
  top: 0;
  opacity: 1;
}
.dropdown ul li {
  float: none;
}
.dropdown li:hover > a {
  background: #ccc;
}

// Non-desktop devices
@media (max-width: 1223.98px) {
  header {
    .button__select-options {
      flex-flow: column;
    }
    button {
      margin: 0;
      padding: 5px 10px;
    }
  }
}

// Desktop devices
@media (min-width: 1224px) {
  .section__randomizer {
    margin: 50px 100px;
  }
}
