$darkleather: #533810;

.strategy__form {
  display: flex;
  flex-flow: column;
  border-bottom: 1px solid rgb(83, 56, 16);

  form {
    display: flex;
    flex-flow: column;

    fieldset {
      border: 0;
      padding: 0;
      margin: 6px 0;

      input[type='text'] {
        width: 300px;
        display: block;
        overflow: auto;
        margin-top: 3px;
        padding-left: 3px;

        &:focus {
          outline-color: $darkleather;
        }
      }

      .strategy__guide-type {
        cursor: context-menu;

        .strategy__video-label {
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
        }
        .strategy__other-label {
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
        }

        label {
          display: inline-block;
          background-color: #fff;
          padding: 8px 15px;
          margin-top: 3px;
          font-size: 16px;
          border: 2px solid #cecece;

          &:hover {
            border-color: lighten($darkleather, 25%);
          }
        }

        input[type='radio'] {
          opacity: 0;
          width: 0;
          margin: 0;

          &:checked + label {
            border-color: $darkleather;
          }
        }
      }

      input[type='button'] {
        outline: none;
        background: $darkleather;
        color: #e1d7b3;
        border: 2px solid #e1d7b3;
        padding: 10px 20px;
        margin: 10px 0 20px 0;
        font-size: 16px;
        border-radius: 6px;
        background-image: url(/static/images/dark-leather-texture.png);

        &:hover {
          background-color: #e1d7b3;
          color: white;
          outline-color: lighten($darkleather, 25%);
          cursor: pointer;
        }
      }

      span {
        font-size: 12px;
        color: red;
        display: block;
      }
    }
  }

  .error {
    border: 1px solid red !important;
  }

  .hide {
    display: none;
  }
}
