.civ__single {
  cursor: pointer;
  border-radius: 5%;
  margin: 5px;
  padding: 5px 0;

  input {
    display: none;
  }

  img {
    cursor: pointer;
    width: 40%;
  }

  label {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    // margin: 0px 10px 10px 10px;
    font-size: 16px;
    cursor: pointer;
  }
}
.checked {
  background: #cccccc;
}
.civ__single:not([class*='checked']):hover {
  background: #e4e4e4;
}
