.build-order__title,
.build-order__input {
  display: flex;
  justify-content: center;
}

.build-order__title {
  margin: 10px 0 10px 20px;
}

.build-order__input {
  align-items: center;

  .icon {
    width: 32px;
    margin: 5px;
  }
}

@media only screen and (max-width: 767.98px) {
  .build-order__title {
    margin: 40px 0 20px 0;
  }

  .build-order__input {
    input {
      width: 33%;
    }
  }
}
