@import 'sass/_colors';

.build-order__title-input {
  display: flex;
  justify-content: center;

  input[type='text'] {
    width: 300px;
    display: block;
    overflow: auto;
    padding: 0 5px;
    margin: 0 5px;
    font-size: 18px;

    &:focus {
      outline-color: $darkleather;
    }
  }

  input[type='button'] {
    outline: none;
    background: $darkleather;
    color: $softyellow;
    border: 2px solid $softyellow;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 6px;
    background-image: url(/static/images/dark-leather-texture.png);

    &:hover {
      background-color: $softyellow;
      color: white;
      outline-color: lighten($darkleather, 25%);
      cursor: pointer;
    }
  }
}
