@import 'sass/_colors';

.civ__single {
  cursor: pointer;
  border-radius: 5%;
  margin: 5px;
  padding: 5px 0;

  input {
    display: none;
  }

  img {
    cursor: pointer;
    width: 40%;
  }

  label {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
  }
}
.checked {
  background: $checkedyellow;
}
.civ__single:not([class*='checked']):hover {
  background: rgba($checkedyellow, 0.4);
}
