.player-count {
  position: fixed;
  bottom: 15px;
  left: 15px;

  &:hover .player-count__hover {
    display: block;

    span {
      display: block;
    }
  }

  .player-count__hover {
    display: none;
  }

  img {
    width: 25%;
  }
}

@media only screen and (max-width: 767.98px) {
  .player-count {
    display: none;
  }
}
