.player-count {
  position: fixed;
  bottom: 15px;
  left: 15px;

  .player-count__stats {
    &:hover {
      padding: 5px;
      border-radius: 5px;
      background: #eee;
    }
  }

  &:hover .player-count__stats-hover {
    display: block;
    background: #eee;

    span {
      display: block;
    }
  }

  .player-count__stats-hover {
    display: none;
  }

  img {
    width: 25%;
  }
}

@media only screen and (max-width: 767.98px) {
  .player-count {
    display: none;
  }
}
