$darkleather: #533810;
$brown: #584e4a;

$duration: 0.2s;
$distance: 8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);

.nav {
  display: flex;
  border-bottom: 2px $brown solid;
  padding: 15px 100px;

  .nav__main {
    margin-left: 20px;

    img {
      width: 20%;
    }
  }
  .nav__items {
    display: flex;
    margin-left: auto;
    align-items: center;

    a {
      display: inline-block;
      margin: 0 20px;
    }
  }
  a:not([class*='logo']) {
    font-size: 20px;
    color: $brown;
    position: relative;
    text-decoration: none;
    padding-bottom: 8px;

    &:before,
    &:after {
      content: '';
      position: absolute;
      bottom: 2px;
      left: 0;
      right: 0;
      height: 2px;
      background-color: $darkleather;
    }
    &:before {
      opacity: 0;
      transform: translateY(-$distance);
      transition: transform 0s $easeOutBack, opacity 0s;
    }
    &:not([class*='active']):after {
      opacity: 0;
      transform: translateY($distance/2);
      transition: transform $duration $easeOutBack, opacity $duration;
    }
    &:hover,
    &:focus {
      &:before,
      &:after {
        opacity: 1;
        transform: translateY(0);
      }
      &:not([class*='active']):before {
        transition: transform $duration $easeOutBack, opacity $duration;
      }
      &:after {
        transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
      }
    }
  }
}
// form {
//   display: flex;
//   justify-content: center;
//   margin-left: auto;
//   input {
//     font-size: 20px;
//     width: 40vh;

//     background-image: url('/static/magnifying-glass.png');
//     background-size: contain;
//     background-repeat: no-repeat;
//     text-indent: 20px;

//     &:focus {
//       background-image: none;
//       text-indent: 0px;
//     }
//   }
// }

// Mobile devices
@media only screen and (max-width: 767.98px) {
  .nav {
    display: flex;
    overflow: hidden;
    padding: 0;
    background-color: #ffffff99;

    .nav__main {
      display: flex;
      margin-left: 0;

      img {
        display: flex;
        width: 30%;
        margin: 10px;
      }
    }
    .nav__hamburger {
      display: flex;
    }
    .nav__items {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 10%;
      right: 0;
      left: 0;
      margin-top: 0px;
      z-index: 1;
      max-height: 60vh;
      -webkit-transition: ease all 300ms;
      transition: ease all 300ms;

      a {
        display: flex;
      }
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        width: 100vw;
        height: 100%;
        background: #252a2c;
        z-index: -1;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
      }
    }
    .hidden {
      display: none;
    }
  }
}
