@import 'sass/_colors';

.build-order__current-step {
  input[type='text'] {
    width: 200px;
    overflow: auto;
    padding: 0 5px;
    font-size: 18px;

    &:focus {
      outline-color: $darkleather;
    }
  }

  .current-step {
    .current-step__icon-selector {
      margin: 15px 0;

      input[type='button'].icon-select {
        white-space: normal;
        font-size: 14px;
        width: 64px;
        height: 64px;
        border-radius: 0;
        padding: 0;
        margin: 5px;
      }

      .icon-selector__selected-icon {
        position: relative;

        .icon {
          margin: 5px;
          cursor: default;
        }

        > span {
          color: #3390ff;
          position: absolute;
          display: flex;
          justify-content: center;
          font-size: 14px;
          cursor: pointer;
          bottom: -10px;
          left: 10px;
        }
      }
    }

    .icon {
      width: 64px;
      height: 64px;
      cursor: pointer;
      margin: 0 3px;
    }

    .current-step__icons-list {
      display: flex;
      flex-flow: column;
      margin: 10px;
      order: 2;

      input {
        display: block;
        margin: 10px auto;
      }

      .active-icon {
        border: 3px solid red;
      }
    }

    .current-step__form {
      display: flex;
      align-items: center;
      flex-flow: column;
      margin-left: 5px;

      .form__inputs {
        display: flex;
        align-items: center;
      }
    }
  }

  input[type='button'] {
    outline: none;
    background: $darkleather;
    color: $softyellow;
    border: 2px solid $softyellow;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 6px;
    background-image: url(/static/images/dark-leather-texture.png);

    &:hover {
      background-color: $softyellow;
      color: $darkleather;
      outline-color: lighten($darkleather, 25%);
      cursor: pointer;
    }
  }

  &:not(.step-1) {
    margin: 10px 20px 10px 0;
  }
}

.build-order__buttons {
  display: flex;
  justify-content: center;
  margin: 10px;
}

@media only screen and (max-width: 767.98px) {
  .icons-list__icons {
    display: flex;
    justify-content: center;
    flex-flow: wrap;

    .icon {
      margin: 3px !important;
    }
  }

  .current-step__form {
    flex-flow: column;

    .current-step__icon-selector {
      order: 1;
      margin: 0;

      .icon-select {
        font-size: 14px;
      }
    }

    .current-step__inputs {
      display: flex;
      flex-flow: column;
    }

    .current-step__delete-step {
      display: flex;
      order: 2;
    }
  }
}
