.service__strategy {
  .card__guide-modal {
    padding: 25px;

    img {
      max-width: 90vw;
      max-height: 90vh;
    }
  }

  .modal__exit {
    position: absolute;
    right: 20px;
    top: 0;
    font-size: 50px;
    cursor: pointer;
    color: black;
    z-index: 1;

    &:hover,
    &:focus {
      color: white;
      text-decoration: none;
    }
  }
}
