$darkleather: #533810;

.service__strategy {
  margin: 20px 100px;

  .strategy__videos,
  .strategy__images {
    // :not(.strategy__category:nth-last-child(2)
    border-bottom: 1px solid $darkleather;
  }

  .strategy__video-cards,
  .strategy__image-cards,
  .strategy__other-cards {
    display: flex;
    justify-content: center;
    flex-flow: wrap;

    h2 {
      margin-bottom: 0.5em;
    }
  }
}

.dim {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hide {
  display: none;
}

@media only screen and (max-width: 767.98px) {
  .service__strategy {
    margin: 10px;
  }
}
