.build-order__icon-selector {
  // display: inline-flex;
  display: inline-block;
  flex-flow: column;

  .icon {
    width: 64px;
    cursor: pointer;
    margin: 0 3px;
  }

  > .icon {
    display: block;
    margin: 3px auto;
  }

  .icons {
    display: block;
    margin: 10px;

    input {
      display: block;
      margin: 10px auto;
    }

    .active-icon {
      border: 3px solid red;
    }
  }
}
